html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgba(250, 250, 250, 0.589);
}

#main h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}

#main h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}

#main {
    background: rgba(63, 70, 71, 0.425);
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: 1px;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none; 
    color: rgb(0, 0, 0); 
}

a:hover{
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    background-size: 1px;
    transform: scale(1.3);  
    border-radius: 3px;
}


.imagen {
    position: relative;
    background-image: url(img/Fondo2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 60vh;
    z-index: 0;
}

.imagen::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 43, 43, 0.589);
    z-index: -1;
}

.sobremi {
    position: relative;
    z-index: 2;
    background: white;
    padding: 2em;
    border-radius: px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.301);
    text-align: center;
    max-width: 900px;
    width: 100%;
    display: flex;
    align-items: center;
}

img {
    max-width: 36%;
    width: 100%;
    height: 300px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 2em;
    flex-direction: column;
    transform: scale(1.1);
}

article {
    padding: 2em;
    background: rgb(114, 104, 104);
    text-align: center;
    border-radius: 20px;
}

.informacion{
    display: flex;
    gap: 0;       
    align-items: center; 
    gap: 1px;
}

.experiencia, .educacion, .habilidades, .contacto{
    background: rgba(5, 5, 5, 0.425);
    text-align: center;
    margin: 1px;
    padding: 20px;
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    row-gap: 10px;    
}


.experiencia:hover, .educacion:hover, 
.habilidades:hover, .contacto:hover{
    transform: scale(1.1);
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.8s ease;
}

ul {
    list-style-position: inside; 
    text-align: center;         
    padding-left: 0;             
    margin: 0 auto;              
}

.menu, .CV, .info, .cont, .mas{
  flex: 1;               
  padding: 20px 0;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  font-weight: bold;
  width: 50px;         
  height: 50px; 
 
}

.menu{
    background-color: rgb(25, 190, 149);
}

.CV{
    background-color: rgb(23, 23, 150);
}

.info {
    background-color: purple;
}

.cont{
    background-color: orange;
}

.mas{
    background-color: red;
}

header {
     display: flex;
     width: 100%
}


.boton {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 8px;                  
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.boton:hover {
  background-color: #1200b3;
  cursor: pointer;
}

.icono {
  fill: white;               
}
